# =========================
# Global ignores
# =========================
.DS_Store
*.log
*.pid
*.swp
*.swo
*.tmp
*.bak
# =========================
# Backend ignores
# =========================

backend/node_modules/

# =========================
# React Frontend ignores
# =========================

frontend/node_modules
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/.vscode


