.game-over-container {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #d2ab99;
  color: #000;
  animation: fadeIn 0.5s ease-in-out;
}
.game-over-container h1 {
  font-family: "Shrikhand", "Courier New", Courier, monospace;
  font-weight: 400;
  letter-spacing: 0.1rem;
  font-size: 48px;
  margin-bottom: 20px;
}
.game-over-container h2 {
  font-size: 36px;
  margin-bottom: 20px;
}
.game-over-container p {
  font-size: 24px;
  margin-bottom: 20px;
}
.game-over-container button {
  width: 200px;
  height: 50px;
  border-radius: 3rem;
  color: #0e191b;
  border: solid 2px #0e191b;
  font-size: 18px;
  cursor: pointer;
}
.keyframe {
  animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
