.Game {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 6rem;
}

.main-container {
  padding-top: 3rem;
}

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #d2ab99;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  text-align: center;
  min-height: 4rem;
}

.nav-container .nav-item {
  /* Target h2 elements with the class */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  white-space: nowrap;
}

.nav-container .nav-item:first-of-type {
  left: 2rem;
  text-align: left;
}

.nav-container .nav-item:last-of-type {
  right: 2rem;
  text-align: right;
}

.nav-container h1 {
  flex-grow: 1;
  text-align: center;
  font-size: 2rem;
  font-family: "Shrikhand", "Courier New", Courier, monospace;
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: #0e191b;
  margin: 0; /* Reset margin */
}

.reaction-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 500px;
}

.timer-containers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.info-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.table-container th {
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
}

.table-container td {
  color: #000;
  font-size: 1.25rem;
  text-align: center;
  padding: 1rem;
}
.table-container tr:nth-child(even) {
  background-color: #cca18e;
}

.table-container table {
  border: 3px solid black;
  overflow: hidden;
  width: 100%;
  border-collapse: collapse;
  font-family: "Courier New", Courier, monospace;
}

.table-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.side-interface-container {
  position: fixed;
  top: 5rem;
  right: 0;
  width: 350px;
  height: 100%;
  background-color: #d2ab99;
  color: white;
  /* Make the container below the nav */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.chat-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-left: 3px solid black;
}
.chat-box {
  display: flex;
  flex-direction: column;
  background-color: #c08972;
  padding: 1rem;
  color: black;
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
}
.chat-header {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
  font-size: 0.75rem;
  margin-bottom: 1rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: 100;
  text-align: left;
}
